Match User {{ vps_baseline_ssh_portal_forward_user }}
    AllowAgentForwarding no
    AllowTcpForwarding local
    PermitOpen {{ vps_baseline_ssh_portal_permit_open | join(' ') }}
    X11Forwarding no
