Port {{ vps_baseline_ssh_port }}
PubkeyAuthentication yes
PasswordAuthentication {{ vps_baseline_ssh_password_authentication }}
KbdInteractiveAuthentication {{ vps_baseline_ssh_kbd_interactive_authentication }}
PermitRootLogin {{ vps_baseline_ssh_permit_root_login }}
X11Forwarding no
AllowTcpForwarding no
ClientAliveInterval {{ vps_baseline_ssh_client_alive_interval }}
ClientAliveCountMax {{ vps_baseline_ssh_client_alive_count_max }}
