CLOUDFLARE_API_TOKEN={{ vps_service_foundation_cloudflare_ddns_api_token | string | quote }}
CLOUDFLARE_ZONE_NAME={{ vps_service_foundation_cloudflare_ddns_zone_name | string | quote }}
CLOUDFLARE_RECORD_NAME={{ vps_service_foundation_cloudflare_ddns_record_name | string | quote }}
CLOUDFLARE_RECORD_TTL={{ vps_service_foundation_cloudflare_ddns_record_ttl | string | quote }}
CLOUDFLARE_RECORD_PROXIED={{ (vps_service_foundation_cloudflare_ddns_proxied | bool) | ternary('1', '0') }}
CLOUDFLARE_DDNS_DRY_RUN={{ (vps_service_foundation_cloudflare_ddns_dry_run | bool) | ternary('1', '0') }}
CLOUDFLARE_DDNS_IP_ENDPOINTS={{ vps_service_foundation_cloudflare_ddns_ip_endpoints | join(',') | quote }}
