NUTSNEWS_FREE_TIER_QUOTAS_JSON={{ vps_service_foundation_free_tier_quotas | to_json | quote }}
NUTSNEWS_FREE_TIER_USAGE_JSON={{ vps_service_foundation_free_tier_usage_json | to_json | quote }}
NUTSNEWS_FREE_TIER_USAGE_FILE={{ vps_service_foundation_free_tier_usage_snapshot_file | string | quote }}
NUTSNEWS_FREE_TIER_CACHE_FILE={{ vps_service_foundation_free_tier_cache_file | string | quote }}
NUTSNEWS_FREE_TIER_CACHE_TTL_SECONDS={{ vps_service_foundation_free_tier_cache_ttl_seconds | string | quote }}
NUTSNEWS_FREE_TIER_HTTP_TIMEOUT_SECONDS={{ vps_service_foundation_free_tier_http_timeout_seconds | string | quote }}
NUTSNEWS_VERCEL_API_TOKEN={{ vps_service_foundation_free_tier_vercel_api_token | string | quote }}
NUTSNEWS_VERCEL_USAGE_API_URL={{ vps_service_foundation_free_tier_vercel_usage_api_url | string | quote }}
NUTSNEWS_SENTRY_AUTH_TOKEN={{ vps_service_foundation_free_tier_sentry_auth_token | string | quote }}
NUTSNEWS_SENTRY_ORG={{ vps_service_foundation_free_tier_sentry_org | string | quote }}
NUTSNEWS_SENTRY_BASE_URL={{ vps_service_foundation_free_tier_sentry_base_url | string | quote }}
NUTSNEWS_CLOUDFLARE_API_TOKEN={{ vps_service_foundation_free_tier_cloudflare_api_token | string | quote }}
NUTSNEWS_CLOUDFLARE_USAGE_API_URL={{ vps_service_foundation_free_tier_cloudflare_usage_api_url | string | quote }}
NUTSNEWS_BETTER_STACK_API_TOKEN={{ vps_service_foundation_free_tier_better_stack_api_token | string | quote }}
NUTSNEWS_BETTER_STACK_USAGE_API_URL={{ vps_service_foundation_free_tier_better_stack_usage_api_url | string | quote }}
NUTSNEWS_SUPABASE_ACCESS_TOKEN={{ vps_service_foundation_free_tier_supabase_access_token | string | quote }}
NUTSNEWS_SUPABASE_USAGE_API_URL={{ vps_service_foundation_free_tier_supabase_usage_api_url | string | quote }}
NUTSNEWS_GRAFANA_CLOUD_API_TOKEN={{ vps_service_foundation_free_tier_grafana_api_token | string | quote }}
NUTSNEWS_GRAFANA_CLOUD_USAGE_API_URL={{ vps_service_foundation_free_tier_grafana_usage_api_url | string | quote }}
