GRAFANA_CLOUD_METRICS_URL={{ vps_service_foundation_grafana_alloy_metrics_url }}
GRAFANA_CLOUD_METRICS_USERNAME={{ vps_service_foundation_grafana_alloy_metrics_username }}
GRAFANA_CLOUD_LOGS_URL={{ vps_service_foundation_grafana_alloy_logs_url }}
GRAFANA_CLOUD_LOGS_USERNAME={{ vps_service_foundation_grafana_alloy_logs_username }}
GRAFANA_CLOUD_ACCESS_POLICY_TOKEN={{ vps_service_foundation_grafana_alloy_access_policy_token }}
NUTSNEWS_ALLOY_ENVIRONMENT={{ vps_service_foundation_grafana_alloy_environment }}
NUTSNEWS_ALLOY_HOSTNAME={{ vps_service_foundation_grafana_alloy_hostname }}
NUTSNEWS_ALLOY_LOG_LEVEL={{ vps_service_foundation_grafana_alloy_log_level }}
