NUTSNEWS_STAGING_ACCESS_TEAM_DOMAIN={{ vps_service_foundation_nutsnews_staging_access_team_domain | string | quote }}
NUTSNEWS_STAGING_ACCESS_AUDIENCE={{ vps_service_foundation_nutsnews_staging_access_audience | string | quote }}
