NUTSNEWS_APP_ENABLED={{ (vps_service_foundation_nutsnews_app_enabled | bool) | ternary('true', 'false') }}
NUTSNEWS_APP_IMAGE={{ vps_service_foundation_nutsnews_app_image | string | quote }}
NUTSNEWS_APP_CONTAINER_NAME={{ vps_service_foundation_nutsnews_app_container_name | string | quote }}
NUTSNEWS_APP_CONTAINER_PORT={{ vps_service_foundation_nutsnews_app_container_port | string | quote }}
NUTSNEWS_APP_HEALTH_PATH={{ vps_service_foundation_nutsnews_app_health_path | string | quote }}
NUTSNEWS_APP_ROUTE_ENABLED={{ (vps_service_foundation_nutsnews_app_route_enabled | bool) | ternary('true', 'false') }}
NUTSNEWS_APP_ROUTE_PATH={{ vps_service_foundation_nutsnews_app_route_path | string | quote }}
NUTSNEWS_APP_IMAGE_REPO={{ vps_service_foundation_nutsnews_app_image_repo | string | quote }}
NUTSNEWS_APP_IMAGE_TAG={{ vps_service_foundation_nutsnews_app_image_tag | string | quote }}
NUTSNEWS_APP_ENV_FILE={{ vps_service_foundation_nutsnews_app_env_file | string | quote }}
{% if vps_service_foundation_nutsnews_app_envs %}
{% for key, value in vps_service_foundation_nutsnews_app_envs.items() | dictsort %}
{{ key }}={{ value | string | quote }}
{% endfor %}
{% endif %}
