NUTSNEWS_EMAIL_ENABLED={{ (vps_service_foundation_email_enabled | bool) | ternary('1', '0') }}
NUTSNEWS_SMTP_HOST={{ vps_service_foundation_email_smtp_host | string | quote }}
NUTSNEWS_SMTP_PORT={{ vps_service_foundation_email_smtp_port | string | quote }}
NUTSNEWS_SMTP_USERNAME={{ vps_service_foundation_email_smtp_username | string | quote }}
NUTSNEWS_SMTP_PASSWORD={{ vps_service_foundation_email_smtp_password | string | quote }}
NUTSNEWS_SMTP_STARTTLS={{ (vps_service_foundation_email_smtp_starttls | bool) | ternary('1', '0') }}
NUTSNEWS_EMAIL_FROM={{ vps_service_foundation_email_from | string | quote }}
NUTSNEWS_EMAIL_TO={{ vps_service_foundation_email_to | string | quote }}
NUTSNEWS_ALERT_COOLDOWN_SECONDS={{ vps_service_foundation_email_alert_cooldown_seconds | string | quote }}
NUTSNEWS_REPORT_SUBJECT_PREFIX={{ vps_service_foundation_email_report_subject_prefix | string | quote }}
