NUTSNEWS_BACKUP_ENABLED={{ (vps_service_foundation_backup_enabled | bool) | ternary('1', '0') }}
NUTSNEWS_BACKUP_STATUS_FILE={{ vps_service_foundation_backup_status_file | string | quote }}
NUTSNEWS_BACKUP_STATE_DIR={{ vps_service_foundation_backup_state_dir | string | quote }}
NUTSNEWS_BACKUP_LOG_FILE={{ (vps_service_foundation_backup_log_dir ~ '/restic-backup.log') | string | quote }}
NUTSNEWS_BACKUP_PATHS_FILE={{ vps_service_foundation_backup_paths_file | string | quote }}
NUTSNEWS_BACKUP_EXCLUDES_FILE={{ vps_service_foundation_backup_excludes_file | string | quote }}
NUTSNEWS_BACKUP_STALE_AFTER_HOURS={{ vps_service_foundation_backup_stale_after_hours | string | quote }}
NUTSNEWS_BACKUP_CHECK_READ_DATA_SUBSET={{ vps_service_foundation_backup_check_read_data_subset | string | quote }}
NUTSNEWS_BACKUP_KEEP_DAILY={{ vps_service_foundation_backup_keep_daily | string | quote }}
NUTSNEWS_BACKUP_KEEP_WEEKLY={{ vps_service_foundation_backup_keep_weekly | string | quote }}
NUTSNEWS_BACKUP_KEEP_MONTHLY={{ vps_service_foundation_backup_keep_monthly | string | quote }}
NUTSNEWS_BACKUP_KEEP_YEARLY={{ vps_service_foundation_backup_keep_yearly | string | quote }}
NUTSNEWS_BACKUP_SERVICE={{ vps_service_foundation_backup_service | string | quote }}
NUTSNEWS_BACKUP_TIMER={{ vps_service_foundation_backup_timer | string | quote }}
NUTSNEWS_BACKUP_VERIFY_SERVICE={{ vps_service_foundation_backup_verify_service | string | quote }}
NUTSNEWS_BACKUP_RCLONE_REMOTE={{ vps_service_foundation_backup_rclone_remote | string | quote }}
RESTIC_REPOSITORY={{ vps_service_foundation_backup_repository | string | quote }}
RESTIC_PASSWORD_FILE={{ vps_service_foundation_backup_restic_password_file | string | quote }}
RESTIC_CACHE_DIR={{ vps_service_foundation_backup_cache_dir | string | quote }}
RCLONE_CONFIG={{ vps_service_foundation_backup_rclone_config_file | string | quote }}
GOMAXPROCS=1
RCLONE_TRANSFERS=2
RCLONE_CHECKERS=4
